[defaults]
enable_task_debugger = True
retry_files_enabled = False
pipelining = True
bin_ansible_callbacks = True
inventory = inventory.ini
forks=20
stdout_callback = yaml
# Try to re-use existing SSH connection and keep it alive for 60s if idle
ssh_args = -o BatchMode=yes -o ControlMaster=yes -o ControlPersist=60s
strategy_plugins = ./.mitogen/mitogen-0.2.9/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
