---
- name: Hush login message
  file:
    path: "{{ ansible_env.HOME }}/.hushlogin"
    state: touch
    modification_time: preserve
    access_time: preserve

- name: Set proper ~/.ssh permissions
  file:
    path: "{{ ansible_env.HOME }}/.ssh"
    mode: 0700

- name: Copy fzf bash completion
  copy:
    src: completion.bash
    dest: /etc/bash_completion.d/fzf.sh
    mode: a+x
  become: yes

- name: Copy bat folder
  copy:
    src: config/bat
    dest: "{{ ansible_env.HOME }}/.config/"
  register: copy_bat_folder

- name: Rebuild bat cache
  shell: bat cache --build
  when: copy_bat_folder.changed

- name: Check if tmux terminfo already installed
  shell: infocmp -x tmux
  register: terminfo_test
  changed_when: False

  #
  # terminfo
  #
- block:

  - name: Copy tmux terminfo
    copy:
      src: tmux_terminfo
      dest: "{{ ansible_env.HOME }}/.tmux_terminfo"

  - name: Install tmux terminfo
    shell: tic -x "{{ ansible_env.HOME }}/.tmux_terminfo"
    register: terminfo_installed

  - name: Delete terminfo file
    file:
      path: "{{ ansible_env.HOME }}/.tmux_terminfo"
      state: absent
    when: terminfo_installed.changed and not terminfo_installed.failed

  when: terminfo_test.rc | int != 0
