---
- name: restart sshd
  service: name=sshd state=restarted
  listen: "restart sshd"

- name: restart ufw
  service: name=ufw state=restarted
  listen: "restart ufw"

- name: reload sysctl
  shell: sysctl --system
  listen: "reload sysctl"

- name: restart timesyncd
  service: name=systemd-timesyncd state=restarted
  listen: "restart timesyncd"

- name: reconfigure keyboard settings
  shell: dpkg-reconfigure -f noninteractive keyboard-configuration
  become: yes
  listen: "dpkg_keyboard"

- name: restart sshguard
  service: name=sshguard state=restarted
  listen: "restart sshguard"

- name: Restart Knot
  service:
    name: kresd@1
    state: restarted
  listen: "restart kresd"

- name: Update GRUB
  command: grub-mkconfig -o /boot/grub/grub.cfg && update-grub
  listen: "grub_update"
  notify: reboot host

- name: Reboot target host
  reboot:
    msg: "Rebooting {{ ansible_hostname | upper }} @ {{ ansible_host }}"
    connect_timeout: 5
    reboot_timeout: 600
    post_reboot_delay: 10
  when: ansible_connection != "local"
  listen: "reboot host"
