[Interface]
{% if wg_server_ip is defined %}
Address = {{ wg_server_ip | ipv4('address') }}/{{ wg_server_subnet.split('/')[1] | int }}
{% endif %}
ListenPort = {{ wg_port }}
{% if wg_peerkey %}
PrivateKey = {{ wg_peerkey }}
{% else %}
PrivateKey = {{ wg_privkey }}
{% endif %}
