# Nonsense crypto
blacklist CONFIG_CRYPTO_SPECK

# Bluetooth
{% if disable_bluetooth %}
blacklist bluetooth
blacklist bnep
blacklist btusb
blacklist net-pf-31
{% endif %}

# DMA exposure
{% if disable_firewire %}
blacklist firewire-core
blacklist firewire-ohci
blacklist firewire-sbp2
{% endif %}

{% if disable_thunderbolt %}
blacklist thunderbolt
{% endif %}

# Esoteric network protocols
blacklist ax25
blacklist netrom
blacklist x25
blacklist rose
blacklist decnet
blacklist econet
blacklist rds
blacklist af_802154
blacklist sctp
blacklist dccp
blacklist tipc

# Rarely needed filesystems
blacklist cramfs
blacklist freevxfs
blacklist jffs2
{% if disable_hfs_udf %}
blacklist hfs
blacklist hfsplus
blacklist udf
{% endif %}

# Speaker
{% if disable_speaker %}
blacklist pcspkr
{% endif %}
